$color_white: white;
$color_grey: grey;
$color_darkgrey: rgb(83, 83, 83);
$color_lightgrey: #e9e9e9;
$color_darkgrey2: rgb(66,66,66);

$fs_logo: 34px;
$fs_heading: 20px;
$fs_main: 15px;
$fs_form: 14px;
$fs_menu: 13px; 

@mixin flex {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
    display: flex;
}

// INDEX.HTML

body {
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,sans-serif;
}

.background {
    background: url(images/background.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    a {
        text-decoration: none;
    }

    &__text {
        text-align: center;
        color: $color_white;
        font-size: $fs_menu;
        letter-spacing: 4px;
    }
}

.logo {
    text-align: center;
    padding: 50px 0 15px 0;
    font-size: $fs_logo;
    color: $color_white;
    font-weight: 100;
    letter-spacing: 4px;
}

.top-wrap {
    height: 100vh;
    position: relative;
}

.logo_mobile {
    display: none;
}

.header {
    @include flex();
    background-color: $color_white;
    justify-content: center;
    padding: 20px 0 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.menu {
    &__item {
        color: $color_grey;
        font-size: $fs_menu;
        letter-spacing: 3px;
        padding: 0 15px 0 15px;

        &:hover {
            color: $color_darkgrey2;
        }
    }

    &__list {
        list-style: none;
        @include flex();
    }

    &_burger {
        display: none;
    }
}


.main {
    background-color: $color_white;

    &__container {
        width: 75%;
        margin: 0 auto;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        column-gap: 0;
    }

    &__button {
        display: block;
        margin: 0 auto;
        border: 2px solid $color_grey;
        border-radius: 5px;
        background-color: $color_white;
        color: $color_grey;
        font-size: $fs_main;
        padding: 13px 30px;
        &:hover {
            color: $color_darkgrey2;
            border: 2px solid black;
            cursor: pointer;
        }
    }
}

.card {
    padding: 0 20px 50px;
    break-inside: avoid-column;

    &__image {
        width: 100%;
        &:hover {
            transform: scale(1.01);
            transition: 0.3s;
            z-index: 0;
        }

    }
}

.heading {
    color: $color_darkgrey;
    text-align: left;
    font-size: $fs_heading;
    font-weight: normal;
    padding: 50px 0 20px 0;
}

.text {
    font-size: $fs_main;
    color: $color_grey;
    text-align: left;
    padding: 20px 0 20px 0;
    line-height: 25px;
    font-weight: 450;
}

.container-tt {
    @include flex();
    justify-content: space-between;
}

.tag {
    text-align: left;
    font-size: $fs_menu;
    color: $color_grey;
}

.time {
    text-align: right;
    font-size: $fs_menu;
    color: $color_grey;
}

.button__container {
    padding-bottom: 60px;
}

.feedback__container {
    @include flex();
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 0;
}

.feedback__heading {
    font-size: 26px;
    font-weight: normal;
    color: $color_white;
    width: 75%;
    line-height: 35px;
}

.form {
    border-radius: 5px;
    background-color: $color_lightgrey;
    overflow: hidden;

    &__email {
        border: none;
        font-size: $fs_form;
        color: $color_darkgrey2;
        padding: 12px 100px 12px 10px;
        outline: none;
        background-color: $color_lightgrey;
    }
    
    &__button {
        border: none;
        padding: 12px 15px 12px 15px;
        font-size: $fs_form;
        background-color: $color_white;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.feedback__text {
    padding-top: 10px;
    color: $color_white;
    font-size: $fs_form;
}

.footer {
    @include flex();
    justify-content: space-between;
    background-color: $color_lightgrey;
    padding: 25px 150px;

    &__text {
        color: $color_grey;
        font-size: $fs_main;
        padding-top: 7px;
    }
}

.icon {
    width: 30px;
}


// TABLET

@media (max-width: 1024px) {

    .feedback__heading {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .main__container {
        width: 90%;
    }

    .card {
        padding: 0 15px 30px;
    }

}

@media (max-width: 940px) {

    .main__container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        width: 90%;
    }

    .card {
        padding: 0 15px 30px;
    }

}

// MOBILE

@media (max-width: 760px) {

    .main__container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .card {
        padding: 0 15px 30px;
    }

    .logo {
        padding-top: 30vh;
    }

    .header {
        position: fixed;
        top: 0;
        bottom: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        height: 15px;
    }

    .top-wrap {
        height: 70vh;
    }

    .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: $color_white;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        z-index: 2;

        &__item {
            color: $color_darkgrey2;
        }

        &__list {
            display: block;
            padding: 50px 0 0 10px;
        }

        li {
            padding: 10px 0 10px 0;
        }

        &_burger {
            display: block;
            position: fixed;
            width: 30px;
            height: 20px;
            right: 20px;
            top: 17.5px;
            cursor: pointer;

            &::before, &::after {
                content: '';
                background-color: $color_darkgrey2;
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                position: absolute;
                background-color: $color_darkgrey2;
                left: 0;
                width: 100%;
                height: 1px;
                top: 9.5px;
            }

            & .active::before {
                transform: rotate(45dg);
            }

            & .active::after {
                transform: rotate(-45dg);
            }

        }

    }

    .active {
        display: block;
    }

    .logo_mobile {
        display: block;
        font-size: $fs_form;
        font-weight: 450;
        color: $color_darkgrey2;
        letter-spacing: 2px;
        position: fixed;
        left: 20px;
        top: 9px;
        padding: 10px 0;
    }

    .form__email {
        padding-right: 20px;
    }

    .feedback__text {
        text-align: center;
    }

    .feedback__heading {
        width: 90%;
    }

    .footer {
        padding: 20px 10px;

        &__text {
            font-size: 12px;
        }
    }
    
}

// PAGE2.HTML

$fs_heading_page2: 28px;

body {
    a {
        text-decoration: none;
    }
}

.header-0 {
    background-color: $color_white;
}

.logo_dark {
        color: $color_darkgrey2;
    }

.background__text_grey {
        color: $color_grey;
    }

.header_static {
    position: static;
    padding-top: 50px;
    padding-bottom: 40px;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main__image {
    width: 100%;
    border-radius: 7px;
}

.border-top {
    border-top: 3px solid $color_lightgrey;
    padding-bottom: 50px;
}

.heading_page2 {
    color: $color_darkgrey2;
    font-size: $fs_heading_page2;
}

.date {
    color: $color_grey;
    font-size: 17px;
}

.text_page2 {
    color: $color_darkgrey;
    font-size: 18px;
    line-height: 30px;
}

// TABLET

@media (max-width: 1024px) {

    .container {
        width: 80%;
    }

}

// MOBILE 

@media (max-width: 760px) {

    .container {
        width: 85%;
        padding-top: 50px;
    }

    .border-top {
        display: none;
        padding-bottom: 0;
    }

    .logo_dark {
        padding-top: 15vh;
    }

    .header_mobile_fixed {
        position: fixed;
        top: 0;
        bottom: auto;
        height: .1vh;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}